.tab-menu {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
    }

    &::before {
        width: 25%;
        height: 2px;
        background-color: $main-color;
    }

    label {
        color: #fff;
    }
}

.food-container{
    width: 100%;
    height: 10%;
    background-color: palegreen;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.food-right{
    background-color: goldenrodblue;
}
.food-right{
    background-color: aqua;
}
#ara-yemek:checked~.tab-menu::before {
    left: 34%;
}

#icecek:checked~.tab-menu::before {
    left: 62%;
}

#tatli:checked~.tab-menu::before {
    left: 85%;
}

.food {

    margin: 20px 20px 0;

    &>div {

        color: #fff;
    }

    .menus {
        margin-top: 30px;
    }

    &__card {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 6px 6px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-color!important;
        padding: 20px;

        div {
            color: $text-color;
            font-weight: 600;
            background-color: $main-color!important;
        }

        &__price-header {
            font-size: 13px;
        }

        &__price {
            font-size: 20px;
        }

        &__direct-card {
            a {
                color: #dddaaa;
                background-color: none !important;
            }
            
        }
    }
}


/* Yiyeceklere ait olan css kodları */

