@import '_variables.scss';

.header{
    position: relative;
    &__layout{display: flex;
   
          &__icon{
       position: relative; 
       width: 150px;
       height:150px;
     flex: 1 1 50%;
     
svg{
    position: relative; 
    z-index: 10;
    font-size:64px ;
    background-color: #fff;
    border-radius:50% ;
    padding: 5px;
    top: 25px;
    left: 10px;
    color: $text-color;
}


       &::before{
        content:"";
        width: 200px;
height: 200px;
border-radius: 50%;
background-color: $main-color;
position:absolute;
left: -87%;
top:-50px;



       }
    }
    &__info{
        color: $secondart-text-color;
 margin-top:20px;

 &__address{
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
 }

 &__clock{
    font-size: 16px;
 }
 
    }
    &__lang{
      color: #fff;
      position: absolute;
   top:0;
   right: 0;
      background-color: $main-color;
      color: $text-color;
      font-size: 15px;
      padding: 8px;
      font-weight: bold;
      border-radius: 0 0 0 12px ;
}
    }
  &__logo{
   img{

         border-bottom-right-radius: 10px;
         border-bottom-left-radius: 10px;
       
       
      width: 100%;
   }
  }


}
