
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #343A40;
}
html{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.flex{
  display: flex;
}

.gap-20{
  gap: 25px;
}

//.display-none{
  //  display:none !important;
//}